@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --rose: hsl(333, 93%, 56%);
  --fandango: hsl(309, 77%, 40%);
  --grape: hsl(276, 91%, 38%);
  --chrysler-blue: hsl(268, 88%, 36%);
  --dark-blue: hsl(263, 87%, 35%);
  --zaffre: hsl(258, 86%, 34%);
  --palatinate-blue: hsl(243, 57%, 50%);
  --neon-blue: hsl(229, 83%, 60%);
  --chefchaouen-blue: hsl(212, 84%, 61%);
  --vivid-sky-blue: hsl(194, 85%, 62%);
  --lapis-lazuli: hsl(204, 56%, 31%);
  --verdigris: hsl(181, 49%, 43%);
  --emerald: hsl(154, 53%, 57%);
  --light-green: hsl(134, 75%, 72%);
  --tea-green: hsl(126, 81%, 88%);
  --team-color: rgba(255,255,255,0.65);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.metricSelector {
  z-index: 9001;
  top: 3em;
}

.chartContainer {
  height: calc(100vh - 300px);
  min-height: 400px;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fancyPlayer {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}

.playerAvatar {
  border-width: 0px;
  border-radius: 50%;
  width: 18px;

}

.playerAvatar img {
  border-radius: 50%;
}

.playerDot {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;

}

.team-color {
  color: var(--team-color);
}

.chart {
  opacity: 0;
}

.fade-in {
  animation: fade-in 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

